block header-main
header.bl-header
    block brand
    section(class="bl-header__section -brand")
        block brand-component
    block menu
        section(class="bl-header__section -menu")
            block menu-component
    block search
    section(class="bl-header__section -search")
        block search-component
