extends ../includes/header.pug

block brand-component
    h3 Brand
block menu-component
    include ./nav.pug
    +nav([{
            link:'/',label:'Home'
        },{
            link:'foo.html',label:'Nav-foo'
        },{
            link:'bar.html',label:'Nav-bar'
        },{
            link:'#fooBar',label:'Nav-fooBar'
        }])
block search-component
    h3 Search | Login
