doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "Vanilla JS Boilerplate"
        block links
        link(rel="stylesheet" href="css/main.css")
        block scripts
    body
        div.bl-wrap
            block header-main
            div.bl-main
                block content-main
            block footer-main
        script(type="module" src="js/index.js")