extends ../layouts/default.pug

block links
  // CSS, Fonts, Icons...
block scripts
  // Scripts..

block header-main
    include ../components/header.pug
block content-main
  h1.title Foo Page!
block footer-main
  include ../includes/footer.pug
